html {
    scroll-behavior: smooth;
}

body {
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: unset;
    overflow-x: hidden;
}

header {
    background: linear-gradient(to bottom, #0d0d0d 12%, #0f0f0f 31%, #31225D 81%, #1b1b1b 100%);
}

h1 {
    color: #ffffff;
    font-size: 3rem;
}

h2 {
    color: aliceblue;
    font-size: 2rem;
}

h3 {
    color: #ffffff;
    font-size: 1.8rem;
}

header p {
    max-width: 90%;
    margin-top: 16px;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #ffffff;
    text-align: center;
}


.section {
    background-color: #1b1b1b;
    display: flex;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    flex-direction: column;
}

.section label {
    margin: 0;
}

.section form {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
}

.section button {
    font-size: 1.5rem;
    padding: 15px;
    margin: 15px;
    background-color: #31225D;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 30px;
}

select {
    font-size: 1.5rem;
    width: 100%;
}

.section option {
    background-color: blue;
    color: #ffffff;
    font-size: 1rem;
}

.section-hidden {
    display: none;
}

#secao-filmes {
    display: flex;
    flex-direction: column;
    background-color: #161616;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura */
}

.filmes-card img {
    /* Define a proporção padrão de pôsteres de cinema (2 de largura por 3 de altura) */
    /*navegador já "guarda o lugar" da imagem antes mesmo dela carregar. Assim, o 'scrollIntoView' calcula a altura correta.*/
    aspect-ratio: 2 / 3;
    width: 100%;
    /* Adapta-se à largura da tela do celular, Mas não deixa passar de 400px em telas grandes */
    max-width: 400px;
    /* Mantém a proporção correta */
    height: auto;
    /* Remove espaços extras embaixo da imagem */
    display: block;


}

.filmes-card {}

.filmes-info {
    color: #ffffff;
}


.filmes-info h2 {
    font-size: 2.2rem;
}

.filmes-info ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.filmes-info span {
    display: flex;
    width: max-content;
    background-color: #31225D;
    padding: 4px;
    align-items: center;
}